{% extends 'base_connected.html.twig' %}

{% block title %}Ajout de planete!{% endblock %}

{% block body %}
    <div class="bg-light vh-100 my-2">
        <div class="container">
            <div class="my-2 shadow p-4">
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.terrain) }}
                {{ form_row(form.nbKmTerre) }}
                {{ form_row(form.allegiance) }}
                {{ form_row(form.description) }}
                {{ form_row(form.deteDecouverte) }}
                {{ form_label(form.save) }}
                {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
            <div>
                <a href="{{ path('planette') }}">Revenir à mes planètes</a>
            </div>
        </div>
        <ul>
            {% if form.vars.errors.form.getErrors(true)|length > 0 %}
            {% for error in form.vars.errors.form.getErrors(true) %}
                <li>{{ error.message }}</li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock %}
