{% extends 'base_connected.html.twig' %}

{% block title %}Hello VehiculeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/detail.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="bg-light vh-100">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <img src="{{ asset('images/' ~ planette.nom ~ '.jpeg' ) }}" class="w-100">
                    </div>
                    <div class="col-8">
                        <h1 class="display-4">{{ planette.nom|capitalize }}</h1>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Terrain: {{ planette.terrain }}
                            </li>
                            <li class="list-group-item">
                                nbKmTerre: {{ planette.nbKmTerre }}
                            </li>
                            <li class="list-group-item">
                                allegiance: {{ planette.allegiance }}
                            </li>
                            <li class="list-group-item">
                                description: {{ planette.description }}
                            </li>
                            <li class="list-group-item">
                                Date de découverte : {{ planette.deteDecouverte|date('d/m/Y') }}
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="text-center bg-primary text-white p-2">Les habitants de ma planète : </h2>
            <table class="table bg-white shadow">
                <thead>
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Véhicule</th>
                  </tr>
                </thead>
                <tbody>
                {% for habitant in planette.rensidents %}
                  <tr>
                    <td>{{ habitant.lastname }}</td>
                    <td>{{ habitant.firstname }}</td>
                    <td>
                        {% if habitant.vehicules|length == 0 %}
                        {{ habitant.firstname}} marche à pied
                        {% endif %}
                        <ol>
                            {% for vehicule in habitant.vehicules %}
                                <li>{{ vehicule.nom }} - {{ vehicule.model }}</li>
                            {% endfor %}
                        </ol>
                    </td>
                  </tr>
                  {% for vehicule in habitant.vehicules %}
                            <li>{{ vehicule.nom }} - {{ vehicule.model }}</li>
                        {% endfor %}
                {% endfor %}
                </tbody>
              </table>
              <div>
                <a href="{{ path('planette') }}" class=" nav-item btn btn-primary mx-2text-white">Voyager sur une autre planète</a>
              </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascripts/detail.js') }}"></script>
{% endblock %}
