{% extends 'base.html.twig' %}

{% block title %}Hello PlanetteController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <a href="{{ path('planette_distance', {'distance': 10}) }}">Voir les planetes distante de moins de 10 km de la terre</a> <br>
    <a href="{{ path('planette_distance', {'distance': 100}) }}">Voir les planetes distante de moins de 100 km de la terre</a> <br>
    <a href="{{ path('planette_distance', {'distance': 10000}) }}">Voir les planetes distante de moins de 10000 km de la terre</a> <br>
    <h1>Ici je listerais toutes mes planetes</h1>

    <h2>Liste des planettes : </h2>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Terrain</th>
            <th scope="col">Nb Km Terre</th>
            <th scope="col">Allegiance</th>
            <th scope="col">Description</th>
            <th scope="col">Date Decouverte</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for planet in planettes %}
        <tr>
            <th scope="row">{{ planet.id }}</th>
            <td>{{ planet.nom }}</td>
            <td>{{ planet.terrain }}</td>
            <td>{{ planet.nbKmTerre }}</td>
            <td>{{ planet.allegiance }}</td>
            <td>{{ planet.description }}</td>
            <td>{{ planet.deteDecouverte|date('d/m/Y') }}</td>
            <td>
                <a href="{{ path('detail_planette', {'planette': planet.id}) }}">Voir le détail</a><br><br>
                <a href="{{ path('update_planet', {'planette': planet.id}) }}">Editer la planette</a><br><br>
                <a href="{{ path('delete_planet', {'planette': planet.id}) }}">Supprimer une planète</a><br><br>


            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('add_planette') }}">Ajouter une planète ! </a>

</div>
{% endblock %}

